body,
html {
  margin: 0;
  padding: 0;
}
#header {
  position: fixed;
  background-color: black;
  height: 6vh;
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
}
#header-img {
  width: 100px;
  margin-right: 100px;
}
#nav-bar {
  margin-left: 56%;
  margin-top: 25px;
}
.logo-nav {
  display: flex;
}
a {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 40px 20px 40px 20px;
  font-size: 30px;
}
a:hover {
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
}
.video-info {
  display: flex;
  background-color: grey;
  border-radius: 10px;
  margin-top: 55px;
  padding-bottom: 30px;
}
.video,
#video {
  height: 520px;
  width: 700px;
  margin-left: 5px;
  border-radius: 10px;
  padding-top: 10px;
}
#video {
  border: 2px solid grey;
  margin-left: 95px;
}
.video-description p {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}
#form {
  height: 500px;
}
p {
  font-size: 20px;
  padding-left: 20%;

  padding-right: 20%;
}
