body,
html {
  margin: 0;
  padding: 0;
}
#header {
  position: fixed;
  background-color: black;
  height: 6vh;
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
}
#header-img {
  width: 250px;
  height: 90px;
  margin-right: 100px;
}
#nav-bar {
  margin-left: 45%;
  margin-top: 25px;
}
.logo-nav {
  display: flex;
}
a {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 40px 20px 40px 20px;
  font-size: 30px;
}
a:hover {
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
}
h3 {
  margin-left: 180px;
}
.video-info {
  display: flex;
  background-color: grey;
  padding-bottom: 150px;
}
.video,
.vid {
  height: 520px;
  width: 700px;
  margin-left: 5px;
  border-radius: 10px;
  padding-top: 10px;
}
.vid {
  border: 2px solid grey;
  margin-left: 95px;
  margin-top: 100px;
}
.video-description p {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}
#video-info {
  margin-top: 100px;
}

p {
  font-size: 20px;
  padding-left: 20%;
  padding-right: 20%;
}
.form {
  display: flex;
  height: 500px;
  background-color: gray;
}
form {
  margin: auto;
}
#email {
  width: 500px;
  height: 25px;
  border-radius: 5px;
  border: 3px solid green;
}
#submit {
  height: 55px;
  width: 100px;
  border-radius: 5px;
  border: 3px solid green;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
}
input[type="email"] {
  padding: 12px 20px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
@media only screen and (max-width: 500px) {
  #header {
    position: fixed;
    background-color: black;
    height: 30px;
    text-align: center;
    width: 100%;
  }
  #header-img {
    height: 90px;
    width: 70px;
    margin-right: 150px;
  }
  #nav-bar {
    margin-left: 0px;
  }
  a {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
  }
  a:hover {
    background-color: black;
    color: white;
  }
  .video-info {
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding-bottom: 150px;
    border-radius: 0px;
  }

  .vid {
    border: 2px solid grey;
    margin-top: 100px;
    margin-left: 10px;
  }
  .video-description p {
    text-align: left;
    margin-right: 20px;
    color: white;
  }
  .video,
  #video {
    height: 350px;
    width: 450px;
    border-radius: 10px;
    padding-top: 10px;
  }
  .video-description p {
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px;
    color: white;
    font-size: 15px;
  }
  h3 {
      text-align: center;
    margin-left: 0px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
}
#email {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: 3px solid green;
  }
p{
    margin-top: 0px;
}
form {
    margin: 0 auto;

  }
  .form {
    display: flex;
    height: 150px;
    background-color: gray;
    border-radius: 0px;
    margin-top: 0px;
  }
}
